{% extends "base.html" %}

{% block content %}
{{block.super}}
    {% if message_log %}
        <div class="container-fluid">
            <div class="row bg-dark text-white p-2 m-2">
                <div class="card bg-dark text-white" style="">
                    <div class="card-body text-white">
                        <h6 class="card-subtitle mb-2">Message Log</h6>
                        <a href="{% url 'message_log_detailed' slug=message_log.slug  %}" class="card-link">View</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}