{% extends "admin/change_list.html" %}
{% load i18n admin_list %}
{% load tz %}
{% load static %}

{% block object-tools-items %}
    
    <li>  
           {% comment %} Don't append DOMAIN_URL to the url below {% endcomment %}
        <a href="#" onclick="api_request('{% url 'gmail_get_unread_messages' %}');" class="">Refresh</a>
    </li>
    <li>
        {% comment %} Don't append DOMAIN_URL to the url below {% endcomment %}
        <a href={% url 'authorize_gmail_credentials' %} class="">Reauthorize Gmail Credentials</a>
    </li>
    {{block.super}} 
{% endblock %}

{% block content %}
    {% timezone DEFAULT_TIMEZONE %}
        {{block.super}}
    {% endtimezone %}
    <script src="{% static 'message_manager/js/utils.js' %}"></script>    
{% endblock %}