{% extends "rfis/base.html" %}

{% block content %}
    {{block.super}}
    <form method="post" class="form-inline">
        {% csrf_token %}
        {{ formset.non_form_errors.as_ul }}
        <table id="formset" class="form table table-striped">
            {% for form in formset.forms %}
                {% if forloop.first %}
                <thead class="thead-dark">
                    <tr>
                        {% for field in form.visible_fields %}
                            <th scope="col">
                                {{ field.label|capfirst }}
                            </th>
                        {% endfor %}

                    </tr>
                </thead>
                {% endif %}
                <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle" scope="row">
                    {# Has to be included for the formset to be valid when updating the models #}
                    {{ formset.management_form }}
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                        
                    {% endfor %}
                    <td>
                        <a class="nav-link active" onclick="get_messages('{% url 'api_get_all_thread_messages' form.gmail_thread_id.value %}', 'hidden_messages{{form.gmail_thread_id.value}}', '{{form.gmail_thread_id.value}}');"  href="#">Msgs</a>
                    </td>
                </tr>
            <tr>
                <td colspan="12" class="hiddenRow">
                    <div class="accordian-body collapse" id="hidden_messages{{form.gmail_thread_id.value}}">
                        <!--Javascript places the message data here-->
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Save Changes" />
    </form>
{% endblock %}